.Form-section {
  // border: 1px solid mediumorchid;
  background-color: #84AE95;
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

#endpoint-input {
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30vw;
  padding: 0.2rem;
}

#go-button {
  background-color: #282c34;
  font-size: 1rem;
  color: #FCFCFC;
  border-radius: 4px;
  margin-left: 0.4em;
  padding: 0.2rem;
  max-width: 3.5em;
}

.radios {
  display: none;
}

label {
  font-size: 1rem;
  border-radius: 4px;
  background-color: #496F58;
  color: #FCFCFC;
  padding: 0.4em;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 0.4em;
  margin-left: 0.4em;
  max-width: 3.5em;
}

input:checked + label {
  background-color: #282c34;
  color: #FCFCFC;
}