// @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App-header {
  // font-family: 'Righteous', cursive;
  background-color: #282c34;
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  // min-height: 30%;
  // display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#FCFCFC;
}
