/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); */

.App {
  /* font-family: 'Lato', sans-serif; */
  text-align: center;
  background-color: #84AE95;
  height: 100%;
  width: 100%;
  display: grid;

  grid-template-columns: 40% 60%;
  grid-template-rows:  20% 15% 55% 10%;
}